body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  background-color: #cbd18f;
}
.header {
  display: flex;
  width: auto;
  height: 20vh;
  margin: 0px;
  padding: 10px;
  background-color: #3a6b35;
  justify-content: space-between;
}
.logo {
  text-align: center;
  font-size: 2rem;
  margin: 0px;
  padding: 5px;
}
.logo h2,
p {
  margin: 0px;
  padding: 10px;
}
#nav {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  margin: 0px;
  padding: 5px;
  list-style-type: none;
}
.nav-list {
  margin: 0px;
  padding: 5px;
  letter-spacing: 2px;
}
.nav-list a {
  margin: 0px;
  padding: 5px;
  font-size: 2rem;
  text-decoration: none;
}
.main {
  margin: 0px;
  padding: 0px;
  /* display: flex; */
  /* flex-direction: row; */
  /* background-color: #e3b448; */
}
.about {
  margin: 0px;
  padding: 150px;
  height: 80%;
  width: auto;
  text-align: center;
  font-size: 2rem;
}
#catalog_info {
  text-align: center;
}
.catalog_container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0px;
  padding: 20px;
  scroll-behavior: smooth;
  /* max-height: 80vh;
    overflow-y: scroll; */
}
.scrollBar :last-child{
  max-height: 70vh;
    overflow-y: scroll;
}
.catalog_info {
  display: flex;
  justify-content: space-between;
  flex: row;
  flex-wrap: wrap;
  margin: 0px;
  padding: 20px;
}
.book_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px;
  padding: 20px;
}
.book_container img {
  width: 300px;
  height: 500px;
}
.footer {
  display: flex;
  justify-content: space-between;
}
/*.<<<<<<<<<FOOTER>>>>>>>>>>>>>>>>>>*/
.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
/* <<<<<<<<<<<<Colors>>>>>>>>>>>>>>>>
mustard_color: #E3B448, 
sage_color: #CBD18F, 
forest_green_color: #3A6B35